extends layout.pug

block title
	title View poll

block content
	div
		| #{message}
	if vote
		div
			h2 #{poll.title}
		form(action="/vote" method="post")
			input(
				type="hidden"
				name="id"
				value=`${poll._id}`
			)
			each option in poll.options
				input(
					type="radio"
					name="option"
					value=`${option._id}`
				)
				label #{option.option}
			input(
				type="submit"
				value="Submit"
				onclick="return verifyVoteCompletion()"
			)

	if poll
		if !vote
			div
				h2 #{poll.title}
			if !edit
				div
					| Thanks for voting!
				
		div
			svg(class="chart")
	if edit
		div
			a(href=`/delete/${poll._id}`) Delete this poll
			
	input(type="hidden" id="poll-data" value= JSON.stringify(poll))
	script(src="http://d3js.org/d3.v3.min.js" type="text/javascript")
	script(src="/chart.js" type="text/javascript")
	
