extends layout.pug

block title
	title View poll

block content
	div(class="message")
		| #{message}
	if poll
		div(class="vote-form-container")
			h1 #{poll.title}
			if !vote
				if user != poll.owner
					div(class="voting-thanks") Thanks for voting!
			else
				form(action="/vote" method="post")
					input(
						type="hidden"
						name="id"
						value=`${poll._id}`
					)
					each option in poll.options
						div(class="vote-form-option")
							input(
								type="radio"
								name="option"
								value=`${option._id}`
							)
							label #{option.option}
					if user
						div(class="vote-form-option")
							input(
								type="radio"
								name="option"
								value="new-option"
							)
							input(
								type="text"
								name="newOption"
								class="input-field"
							)
					input(
						type="submit"
						value="Vote"
						class="button"
						onclick="return verifyVoteCompletion()"
					)


		div(class="chart-container")
			svg(class="chart")
		if edit
			div(class="edit-buttons")
				input(
					type="button"
					class="button"
					value="Share on Facebook"
					onclick="window.location.href='https://facebook.com/sharer/sharer.php?u=' + document.URL;"
				)
				input(
					type="button"
					class="button"
					value="Share on Twitter"
					onclick="window.location.href='https://twitter.com/home?status=' + document.URL;"
				)
				input(
					type="button"
					class="button"
					value="Delete Poll"
					onclick=`window.location.href='/delete/${poll._id}';`
				)
			
		input(type="hidden" id="poll-data" value= JSON.stringify(poll))
		script(src="https://d3js.org/d3.v3.min.js" type="text/javascript")
		script(src="/chart.js" type="text/javascript")
	
